<form action="/profile" method="post">
    <fieldset>
        <legend>Credentials</legend>
        
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" required>

        <label for="selecthobby">Select hobby</label>
        <select name="selecthobby">
            <option value="Soccer">Soccer</option>
            <option value="Hockey">Hockey</option>
            <option value="Chess">Chess</option>
            <option value="Gaming">Gaming</option>
            <option value="Cycling">Cycling</option>
            <option value="Drawing">Drawing</option>
        </select>

        <label for="age">Age</label>
        <input type="number" name="age" max="100" placeholder="00" required>
        
        <label for="dateofbirth">Date of birth</label>
        <input type="date" name="dateofbirth">
        
        <input type="submit" value="submit">
    </fieldset>
</form>