<form action="/profile" method="post">
    <fieldset>
        <legend>Credentials</legend>
        
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" required>
        
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="email" required>
        
        <label for="address">Address</label>
        <input type="text" name="address" placeholder="street address">
        
        <select name="selecthobby">
            <option value="1">Soccer</option>
            <option value="2">Hockey</option>
            <option value="3">Chess</option>
        </select>
        
        <input type="submit" value="submit">
    </fieldset>
</form>