<form action="/profile" method="post">
    <fieldset>
        <legend>Edit Information</legend>
        
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" required>

        <label for="selecthobby">Select hobby</label>
        <select name="selecthobby">
            <option value="soccer">Soccer</option>
            <option value="hockey">Hockey</option>
            <option value="chess">Chess</option>
            <option value="gaming">Gaming</option>
            <option value="coding">Coding</option>
            <option value="cycling">Cycling</option>
            <option value="drawing">Drawing</option>
        </select>

        <label for="region">Select region</label>
        <select name="region">
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
            <option value="Middle east">Middle east</option>
            <option value="Africa">Africa</option>
            <option value="Pacific">Pacific</option>
        </select>

        <label for="age">Age</label>
        <input type="number" name="age" max="100" placeholder="00" required>
        
        <input type="submit" value="Submit">
    </fieldset>
</form>