<header>
  <a href="/map">
    <img src="/assets/logo.svg" alt="logo of the app" />
  </a>

  <div>
    <a href="/userform">
      <img src="/assets/user.svg" alt="user image" />
      <span>Registreren</span>
    </a>
  </div>
</header>