<form action="/searchresults" id="latlonform" method="post">
    <fieldset>
        <legend>Fill in your latitude and longitude</legend>

        <label for="lat">Latitude</label>
        <input type="number" step="any" name="lat" required>
        <label for="lon">Longitude</label>
        <input type="number" step="any" name="lon" required>

        <input type="submit" value="Submit">
    </fieldset>
</form>