<%- include ("./partials/head.ejs") %>

<body class="profilepage">
    <%- include ("./partials/header.ejs") %>
    <main>
        <h1>Profile overview</h1>
        <section>
            <article>
                <div>
                    <p></p>
                </div>
                <p>Name</p>
            </article>

            <article>
                <div>
                    <p></p>
                </div>
                <p>Hobby</p>
            </article>

            <article>
                <div>
                    <p></p>
                </div>
                <p>Region</p>
            </article>

            <article>
                <div>
                    <p></p>
                </div>
                <p>Age</p>
            </article>
        </section>
        <a href="/userform">Edit information</a>
    </main>
    <%- include ("./partials/footer.ejs") %>