<%- include ("./partials/head.ejs") %>
<%- include ("./partials/header.ejs") %>
    <main>
        <section>
            <h1>Hobby map</h1>
            <div>
                <p>Hmm, looks like you don’t have a location yet. Add it in your profile</p>
            </div>
            <div id="map"></div>
        </section>
    </main>
<%- include ("./partials/footer.ejs") %>
