<%- include ("./partials/head.ejs") %>

<body class="mapform">
    <%- include ("./partials/header.ejs") %>
    <main>
        <%- include ("./partials/latlonform.ejs") %>
    </main>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>