<%- include ("./partials/profile-head.ejs") %>
<%- include ("./partials/header.ejs") %>
    <section>
        <h1>My profile</h1>
        <p>testerino</p>
    </section>
<%- include ("./partials/footer.ejs") %>
