<%- include ("./partials/head.ejs") %>

<body class="formpage">
    <%- include ("./partials/profile-header.ejs") %>
    <main>
        <%- include ("./partials/form.ejs") %>
    </main>
    <%- include ("./partials/footer.ejs") %>