.startingpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.startingpage main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.startingpage h1 {
    text-align: center;
    font-size: 2em;
}

.startingpage ol {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.startingpage ol>li {
    margin-top: 2em;
}

.startingpage main section>a {
    color: var(--white);
    display: block;
    text-align: center;
    width: 40%;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--cta);
    text-decoration: none;
    border-radius: 0.3em;
}

.startingpage main section h1 {
    color: #22AAE6;
}


.startingpage main section img {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.startingpage a:visited {
    color: var(--white);
}