.startingpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.startingpage main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.startingpage h1 {
    text-align: center;
    font-size: 2em;
}

.startingpage ol {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.startingpage ol > li {
    margin-top: 2em;
}

.startingpage main section > a {
    color: var(--white);
    display: block;
    text-align: center;
    width: 40%;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--bright-green);
    text-decoration: none;
}

.startingpage a:visited {
    color: var(--white);
}