body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2em;
}

ol {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
}

ol > li {
    margin-top: 2em;
}

a {
    color: var(--white);
    display: block;
    text-align: center;
    width: 40%;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: var(--bright-green);
    text-decoration: none;
}

a:visited {
    color: var(--white);
}