.hobbymap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.hobbymap h1 {
    font-size: 2em;
    margin-left: 0.3em;
}

#map {
    height: 50vh;
}